@font-face {
  font-family: 'Noto';
  src: url('./noto/NotoSans-Bold.ttf') format('ttf'),
    url('./noto/NotoSans-Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
