.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid #3a3a3a1f;
  background: #ffffff;
}

.icon-button:hover {
  background: #e3dada;
}
