.avatar {
  --avatar-size: 125px;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.avatar--small {
  --avatar-size: 32px;
}
