:root {
  font-family: Noto Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;

  --container-max-width: 1200px;
  --container-margin-lg: 60px;
  --container-margin-md: 30px;
  --container-margin-sm: 15px;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
